body {
    margin: 0;
    background-color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.top-bar {
    background-color: #000000;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-left: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.description p {
    text-align: center;
    color: #fff;
    font-size: 30px;
}